
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <ion-tab title="ST" icon-off="ion-ios-keypad" icon-on="ion-ios-keypad-outline" ui-sref="tab.st">
  <ion-nav-view name="tab-st"></ion-nav-view>
</ion-tab>

  <ion-tab title="好友" icon-off="ion-ios-people-outline" icon-on="ion-ios-people" ui-sref="tab.friends">
    <ion-nav-view name="tab-friends"></ion-nav-view>
  </ion-tab>

  <ion-tab title="排行" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" ui-sref="tab.rank">
  <ion-nav-view name="tab-rank"></ion-nav-view>
</ion-tab>

  <ion-tab title="我的" icon-off="ion-ios-person-outline" icon-on="ion-ios-person" ui-sref="tab.user">
    <ion-nav-view name="tab-user"></ion-nav-view>
  </ion-tab>

</ion-tabs>
