<ion-view class="modal">
  <ion-header-bar>
    <button class="button button-dark button-clear" ng-click="back()">返回</button>
    <h1 class="title">发布</h1>
  </ion-header-bar>
  <ion-content>
    <ion-list>
      <ion-item>
        结束时间：
        <input type="datetime-local" ng-model="infoModel.time">
      </ion-item>
      <ion-item class="item item-input item-select">
        <div class="input-label">
          共享类型
        </div>
        <select ng-model="infoModel.typeStr">
          <option selected>跑腿</option>
          <option>代驾</option>
          <option>家政</option>
          <option>代练</option>
          <option>洗车</option>
          <option>宠物</option>
        </select>
      </ion-item>
      <ion-item>
        价格：
        <input type="number" ng-model="infoModel.price" class="inline">
        <i ng-show="infoModel.price">元</i>
      </ion-item>
      <ion-item>
        价格：
        <textarea rows="5" ng-model="infoModel.des" placeholder="描述"></textarea>
      </ion-item>
    </ion-list>
    <button class="button button-dark button-full space-top" ng-click="toUpdate()">发布</button>
  </ion-content>
</ion-view>
